In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score


np.random.seed(0)

In [13]:
rice_df = pd.read_csv('data/brri.csv')
rice_df.head()

,Max. temp,Min. temp.,Rain fall,Actual evaporation,R.H (9 am),R.H (2 pm),Sun shine,Solar radiation,target
0,27.2,14.2,0.0,1.0,89,58,7.4,298.96,1
1,27.6,13.0,0.0,2.0,71,52,6.2,269.19,1
2,25.7,12.8,0.0,2.0,89,58,4.8,234.46,1
3,26.8,14.0,0.0,2.0,84,58,6.4,274.15,0
4,26.4,14.8,0.0,2.0,78,50,5.8,259.27,1

In [14]:

x = rice_df.drop('target', axis=1)
y = rice_df['target']


x_train, x_test, y_train, y_test = train_test_split(x,
                                                   y,
                                                   test_size = 0.2)

model = RandomForestClassifier(n_estimators = 100)
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.5714285714285714

In [15]:
cross_val_score(model, x, y, cv=5)

array([0.57142857, 0.85714286, 0.16666667, 0.5       , 0.4       ])

In [16]:
rice_df.head()

,Max. temp,Min. temp.,Rain fall,Actual evaporation,R.H (9 am),R.H (2 pm),Sun shine,Solar radiation,target
0,27.2,14.2,0.0,1.0,89,58,7.4,298.96,1
1,27.6,13.0,0.0,2.0,71,52,6.2,269.19,1
2,25.7,12.8,0.0,2.0,89,58,4.8,234.46,1
3,26.8,14.0,0.0,2.0,84,58,6.4,274.15,0
4,26.4,14.8,0.0,2.0,78,50,5.8,259.27,1

In [17]:
type(rice_df), rice_df.size

(pandas.core.frame.DataFrame, 279)

In [18]:
len(rice_df)

31

In [19]:
rice_df

,Max. temp,Min. temp.,Rain fall,Actual evaporation,R.H (9 am),R.H (2 pm),Sun shine,Solar radiation,target
0,27.2,14.2,0.0,1.0,89,58,7.4,298.96,1
1,27.6,13.0,0.0,2.0,71,52,6.2,269.19,1
2,25.7,12.8,0.0,2.0,89,58,4.8,234.46,1
3,26.8,14.0,0.0,2.0,84,58,6.4,274.15,0
4,26.4,14.8,0.0,2.0,78,50,5.8,259.27,1
5,27.2,14.6,0.0,2.0,79,49,7.8,308.88,1
6,27.0,14.8,0.0,1.0,79,45,6.6,279.11,0
7,25.6,13.2,0.0,1.0,79,50,3.4,199.73,0
8,26.8,13.1,0.0,2.0,100,38,4.2,219.58,0
9,23.2,15.8,0.0,2.0,100,69,2.6,179.89,0
10,24.4,14.2,0.0,2.0,100,40,6.4,274.15,0
11,24.4,11.8,0.0,2.0,88,56,4.8,234.46,0
12,24.6,11.2,0.0,1.0,94,52,4.6,217.10,0
13,25.4,12.6,0.0,1.0,88,56,6.2,269.19,1
14,25.9,11.8,0.0,2.0,71,50,5.1,241.90,1
15,26.6,13.0,0.0,2.0,89,49,6.2,269.19,1
16,26.2,12.6,0.0,2.0,89,49,7.6,303.92,1
17,26.6,11.2,0.0,3.0,83,45,7.2,294.00,0
18,24.6,13.8,0.0,1.0,79,56,2.6,179.89,1
19,21.4,16.2,7.2,2.2,83,79,0.0,115.40,0
20,23.2,14.4,0.0,1.0,88,68,3.4,199.73,0
21,20.0,13.0,0.0,2.0,88,70,2.2,169.97,0
22,21.2,12.8,0.0,1.0,94,69,3.8,209.66,0
23,22.6,10.0,0.0,2.0,93,62,5.6,254.31,0
24,23.2,10.0,0.0,1.0,100,60,6.8,284.07,1
25,22.8,8.4,0.0,2.0,93,40,7.2,294.00,1
26,24.5,9.0,0.0,2.0,87,70,6.6,279.11,1
27,25.2,13.0,0.0,2.0,73,56,6.1,266.71,1
28,25.5,13.2,0.0,2.0,79,56,4.1,217.10,1
29,24.6,12.8,0.0,2.0,88,49,5.2,244.38,1
30,24.8,15.0,0.0,1.0,89,81,1.4,150.12,1